* {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    color: #f0f0f0;
    margin: 0;
    width: auto;
    background-color: lightgrey;
}

#loading-screen {
    font-size: 30px;
    color: black;
    text-align: center;
}

#content-wrapper {
    display: none;
    height: auto;
    background-color: rgb(28, 28, 28);
    text-align: center;
}

header {
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    background-color: rgb(29, 64, 175);
    align-items: center;
}

header h1 {
    margin-left: 50px;
}

header h1:hover {
    cursor: default;
}

#nav-items {
    list-style-type: none;
    display: flex;
    padding: 0;
    align-items: center;
    margin-right: 50px;
}

.nav-item {
    margin: 0 20px;
}

.nav-item a {
    color: #f0f0f0;
    text-decoration: none;
}

.nav-item a:hover {
    color: lightgray;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item.button {
    background-color: rgb(36,99,235);
    padding: 10px 15px;
    border-radius: 20px;
    margin: 0 10px;
}

.nav-item.nav-item.button:hover {
    background-color: dodgerblue;
}

#user-icon-container {
    display: flex;
    align-items: center;
    width: auto;
    margin-right: 10px;
}

#user-icon-container img {
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}

#user-icon-container p {
    margin-left: 10px;
}

#welcome-text {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 800px;
    font-size: 25px;
    color: #f0f0f0;
    top: 15px;
    margin-bottom: 35px;
}

#welcome-text h2 {
    font-size: 30px;
}
 
#welcome-text h4 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}

#button-container {
    margin: 0 auto;
    display: flex;
    width: 300px;
    height: 80px;
    align-items: center;
    justify-content: space-around;
}

#button-container h4 {
    color: #f0f0f0;
    background-color: rgb(36,99,235);
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 15px;
}

#button-container h4:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

input {
    padding-left: 5px;
    color: black;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: black;
}

#submit-button {
    width: 100px;
    height: 40px;
    background-color: rgb(36,99,235);
    border: none;
    border-radius: 20px;
    color: #f0f0f0;
    font-size: 15px;
}

#submit-button:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

#home-content {
    width: 98%;
    margin: 60px auto;
    padding: 0;
}

#home-content div {
    color: black;
}

#popular-stadiums-container {
    border-top: 0.5px solid #f0f0f0;
    padding: 0;
    width: 97%;
    margin: 0 auto;
}

#popular-stadiums-container h2 {
    color: #f0f0f0;
    margin-top: 40px;
}

#popular-stadiums, .stadiums-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.stadiums-list-user {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.stadiums-list-user a {
    color: #f0f0f0;
    text-decoration: none;
}

.popular-stadium, .stadiums-list-stadium, .recent-stadium {
    border-radius: 8px;
    transition: transform 0.15s ease-in-out, border-color 0.15s ease-in-out;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.popular-stadium a {
    color: black;
    text-decoration: none;
}

.popular-stadium-text {
    padding: 5px 0;
    background-color: rgb(45, 45, 45);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.popular-stadium:hover, .stadiums-list-stadium:hover, .recent-stadium:hover, #add-stadium-stadium:hover {
    cursor: pointer;
    transform: scale(0.97);
}

.popular-stadium img, .stadiums-list-stadium img {
    height: 220px;
    width: 450px;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: block;
}

.popular-stadium h3, .popular-stadium h4, .stadiums-list-stadium h3, .stadiums-list-stadium h4 {
    margin: 10px;
    font-weight: normal;
    border: 0px solid white;
    color: #f0f0f0;
}

#stadium-tracker-container {
    text-align: center;
    margin: 50px auto;
    border-top: 0.5px solid #f0f0f0;
    width: 97%;
}

#stadium-tracker-container h2 {
    color: #f0f0f0;
    margin-top: 40px;
}

#stadium-tracker-infos {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stadium-tracker-info {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: rgb(45, 45, 45);
    width: 450px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 25px;
    color: #f0f0f0;
}

.stadium-tracker-info div {
    margin: 0 auto;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin-top: 20px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stadium-tracker-info img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.stadium-tracker-info h3, .stadium-tracker-info h4 {
    margin: 10px;
    font-weight: normal;
}

.stadium-tracker-info h4 {
    margin-bottom: 20px;
}

footer {
    background-color: rgb(20, 20, 20);
    height: 320px;
    text-align: left;
}

#footer-items {
    width: 90%;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid rgb(55, 65, 81);
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer-item {
    width: 300px;
    margin-top: 40px;
}

.footer-item h4 {
    font-weight: bold;
    margin: 0;
}

footer h5 {
    font-weight: normal;
    color: rgb(115, 124, 137);
}

#newsletter-email {
    display: flex;
}

#email-field {
    height: 35px;
    width: 200px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    margin: 0;
}

#subscribe-button {
    height: 35px;
    background-color: rgb(36,99,235);
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0;
    padding: 0 10px;
    color: white;
}

#subscribe-button:hover {
    cursor: pointer;
}

#copyright {
    text-align: center;
    margin-top: 30px;
}

#overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 999;
    display: none;
}

#create-account-menu, #log-in-menu {
    position: fixed;
    display: none;
    width: 428px;
    background-color: rgb(45, 45, 45);
    z-index: 1000;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: #f0f0f0;
}

#log-in-menu {
    height: 400px;
}

#create-account-menu {
    height: 500px;
}

#create-account-menu h2, #log-in-menu h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 25px;
    margin-bottom: 0;
}

#close-create-account-menu, #close-log-in-menu {
    font-size: 25px;
    position: absolute;
    left: 380px;
    top: 1px;
}

#close-create-account-menu:hover, #close-log-in-menu:hover {
    cursor: pointer;
}

#create-account-form, #log-in-form{
    text-align: center;
    width: auto;
    height: auto;
}

#create-account-form label, #log-in-form label {
    display: block;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 20px;
}

.input-field {
    height: 40px;
    width: 325px;
    border-radius: 20px;
    border: 0.5px solid lightgray;
    font-size: 16px;
    padding-left: 10px;
}

#sign-up-button, #log-in-button {
    background-color: rgb(36,99,235);
    color: white;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 45px;
}

#log-in-button:hover, #sign-up-button:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

#welcome-header {
    display: inline-block;
    color: #f0f0f0;
    margin: 30px 0 0;
    width: auto;
    font-size: 22px;
    border-bottom: 1px solid lightgray;
}

#user-items {
    margin: 25px auto 0;
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
    color: black;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

.user-item h3 {
    text-align: left;
    color: #f0f0f0;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #f0f0f0;
}

#favorite-stadiums, #recently-visited-stadiums {
    width: 740px;
    height: 385px;
}

#recent-stadiums-gzero, #favorite-stadiums-gzero {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: none;
    justify-content: space-between;
}

#recent-stadiums-zero, #favorite-stadiums-zero {
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    display: none;
}

#recent-stadiums-zero h4, #favorite-stadiums-zero h4 {
    font-size: 18px;
    font-weight: normal;
    color: #f0f0f0;
}

#add-favorite-stadiums-button, #add-stadiums-button {
    width: 220px;
    background-color: rgb(36,99,235);
    border-radius: 20px;
    padding: 10px 15px;
    color: #f0f0f0;
    margin: 0 auto;
}

#add-stadiums-button {
    width: 150px;
}

#add-favorite-stadiums-button:hover, #add-stadiums-button:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

.recent-stadium, .favorite-stadium {
    border-radius: 8px;
    height: 295px;
    width: 350px;
    background-color: rgb(45, 45, 45);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    color: #f0f0f0;
}

.recent-stadium img, .favorite-stadium img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.recent-stadium h4, .recent-stadium h5, .recent-stadium h6, .favorite-stadium h4, .favorite-stadium h5, .favorite-stadium h6 {
    padding-left: 10px;
    margin: 0;
    font-weight: normal;
}

.recent-stadium h4, .recent-stadium h5, .favorite-stadium h4, .favorite-stadium h5 {
    margin: 10px 0;
}

.recent-stadium h4, .favorite-stadium h4 {
    font-weight: bold;
}

#user-stats {
    width: 350px;
    height: 385px;
}

#user-stats-container {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 295px;
    align-content: space-between;
}

.user-stat h3 {
    text-align: center;
}

.user-stat {
    border-radius: 8px;
    width: 100%;
    height: 90px;
    padding: 18px;
    background-color: rgb(45, 45, 45);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.user-stat h3, .user-stat h4 {
    margin: 0;
    border: none;
    color: #f0f0f0;
}

.user-stat h4 {
    font-weight: normal;
}

#wishlist {
    width: 350px;
}

#wishlist-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wishlist-items-zero {
    text-align: center;
    display: none;
}

#wishlist-items-zero h4 {
    font-weight: normal;
}

#wishlist-items-zero-header {
    color: #f0f0f0;
    margin-top: 60px;
}

#add-stadiums-wishlist-button {
    background-color: rgb(36,99,235);
    color: #f0f0f0;
    padding: 10px 15px;
    width: 220px;
    margin: 0 auto;
    border-radius: 20px;
}

#add-stadiums-wishlist-button:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

.wishlist-item {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 25px auto;
    align-items: center;
}

.wishlist-item h4, .wishlist-item h5 {
    margin: 0;
    font-weight: normal;
}

#user-recent-reviews, #user-popular-reviews {
    width: 740px;
    color: #f0f0f0;
    text-align: left;
}

#user-popular-reviews {
    margin-bottom: 40px;
}

#league-selector {
    color: #f0f0f0;
    background-color: rgb(45, 45, 45);
    width: 530px;
    height: 58px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    border-radius: 8px;
}

#leagues {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.league {
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: 45px;
}

.league:hover {
    cursor: pointer;
}

.league img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    padding: 0;
    margin-left: 8px;
}

.league h3 {
    font-weight: normal;
}

#league-text {
    color: #f0f0f0;
    margin-top: 30px;
}

.stadiums-list-container {
    width: 95%;
    height: auto;
    margin: 30px auto;
    color: black;
    border-top: 0.5px solid #f0f0f0;
}

.stadiums-list-container h2 {
    color: #f0f0f0;
    margin-top: 20px;
}

.stadiums-list {
    flex-wrap: wrap;
}

.stadiums-list a {
    color: #f0f0f0;
    text-decoration: none;
}

.stadiums-list-stadium {
    margin-bottom: 20px;
    background-color: rgb(45, 45, 45);
    height: 300px;
}

.stadiums-list-stadium h3 {
    margin-top: 15px;
}

#stadiums-list-nfl {
    display: none;
}

.stadiums-list-zero {
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
    padding: 0;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.stadiums-list-zero h3 {
    font-weight: normal;
    color: #f0f0f0;
}

.stadiums-add-stadiums-button {
    background-color: rgb(36,99,235);
    border-radius: 20px;
    width: 150px;
    color: #f0f0f0;
    padding: 10px 10px;
    margin-top: 10px;
}

.stadiums-add-stadiums-button:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

.stadiums-list-user {
    display: none;
    flex-wrap: wrap;
}

.add-stadium-menu {
    position: fixed;
    width: 80%;
    height: 85%;
    background-color: rgb(28, 28, 28);
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    color: #f0f0f0;
    text-align: center;
    display: none;
}

.add-stadium-menu h2 {
    margin-top: 30px;
}

#stadium-search-container {
    width: 500px;
    margin: 0 auto;
}

#search-field {
    border: none;
    background-color: #f0f0f0;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    padding-left: 21px;
    z-index: 1;
}

#home-search-field {
    border: none;
    background-color: #f0f0f0;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    padding-left: 21px;
    z-index: 1;
    margin-top: 20px;
}

#search-stadiums-results-container {
    margin: 0 auto;
    width: 400px;
    max-height: 200px;
    overflow: scroll;
}

#search-stadiums-results-container a {
    color: black;
    text-decoration: none;
}

.search-result {
    width: 399px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 10px 0;
    border: 0.5px solid lightgray;
    text-align: left;
    padding-left: 20px;
}

.search-result:hover {
    background-color: lightgray;
    cursor: pointer;
}

.search-result h4 {
    color: black;
    font-weight: normal;
    margin: 0;
}

#stadium-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: none;
}

#stadium-container-name {
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
    text-align: left;
}

#stadium-container-stadium {
    display: flex;
    justify-content: space-between;
}

#stadium-container-image {
    height: 350px;
    max-width: 525px;
    width: auto;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#stadium-container-image:hover {
    cursor: pointer;
    transform: scale(0.97);
}

#add-stadium-form {
    margin-left: 50px;
    width: 500px;
    text-align: left;
}

#add-stadium-form label {
    font-size: 20px;
    margin-left: 5px;
}

#date-rating-container {
    display: flex;
    width: 90%;
    margin-bottom: 10px;
}

.date-rating-input-container {
    width: 170px;
}

.date-rating-input-container input {
    background-color: rgb(45, 45, 45);
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#date-visited {
    color: #f0f0f0;
    padding: 10px 20px;
}

#rating {
    color: #f0f0f0;
    padding: 12px 10px 12px 15px;
    width: 75px;
}

#review {
    background-color: rgb(45, 45, 45);
    border-radius: 20px;
    border: none;
    padding: 15px;
    width: 100%;
    height: 64%;
    resize: none;
    color: #f0f0f0;
    font-size: 15px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#review:focus {
    outline: none;
}

#add-stadium-submit-button {
    background-color: rgb(36, 99, 235);
    border-radius: 20px;
    font-weight: normal;
    text-align: center;
    padding: 10px 30px;
    margin: 35px auto;
    font-size: 20px;
    display: inline-block;
}

#add-stadium-submit-button:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

#close-add-stadium-menu {
    font-size: 25px;
    position: absolute;
    left: 94%;
    top: 0px;
    margin: 30px 0 0;
}

#close-add-stadium-menu:hover {
    cursor: pointer;
}

.stadium-information-container {
    background-color: ghostwhite;
    position: fixed;
    width: 610px;
    height: 630px;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: black;
    text-align: center;
    display: none;
}

.stadium-information-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.stadium-information-header h2 {
    margin: 20px 28px;
}

#close-stadium-information:hover {
    cursor: pointer;
}

.stadium-information-container img {
    height: 280px;
    width: 555px;
    object-fit: cover;
    border-radius: 8px;
    margin: 25px 0 20px;
}

.stadium-facts {
    width: 555px;
    margin: 0 auto;
}

/*.stadium-fact div {
    margin-bottom: 5px;
}

.stadium-fact img {
    height: 25px;
    width: auto;
    object-fit: cover;
    margin: 0;
}

.stadium-fact div {
    display: flex;
    align-items: flex-end;
}

.stadium-fact div h4 {
    margin-right: 7px;
}

.stadium-fact h3, .stadium-fact h4 {
    margin: 0;
    font-weight: normal;
    text-align: left;
}*/

.stadium-facts h4 {
    color: #4B5563;
}

.stadium-facts-first {
    display: flex;
    justify-content: space-between;
    width: 525px;
    margin-top: 5px;
}

.stadium-facts-second {
    display: flex;
    width: 555px;
    justify-content: space-between;
    margin-top: 25px;
}

.stadium-facts-first div:nth-child(1) {
    width: auto;
}

.stadium-facts-first div:nth-child(3) {
    width: 138px;
}

.stadium-facts-second div:nth-child(1) {
    width: auto;
}

#signed-out-button, #signed-in-button {
    width: 250px;
    margin: 25px auto;
    text-align: center;
    padding: 10px 10px;
    background-color: rgb(36, 99, 235);
    color: white;
    border-radius: 8px;
    font-weight: normal;
}

#signed-in-button {
    width: 150px;
}

#signed-out-button:hover, #signed-in-button:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

#wishlist {
    width: 350px;
    height: 385px;
}

#wishlist-items-gzero {
    position: relative;
    display: none;
    height: 295px;
}

#wishlist-items-gzero a {
    color: #f0f0f0;
    text-decoration: none;
}

.wishlist-item {
    background-color: rgb(45, 45, 45);
    width: 100%;
    color: #f0f0f0;
    padding: 10px 20px;
    margin: 0 0 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.wishlist-item:hover {
    transform: scale(0.96);
    cursor: pointer;
}

.add-stadium-menu #add-stadium-button {
    display: none;
}

#remove-stadium-button {
    width: 200px;
    margin: 25px auto;
    text-align: center;
    padding: 10px 10px;
    background-color: rgb(36, 99, 235);
    color: white;
    border-radius: 8px;
    font-weight: normal;
}

#remove-stadium-button:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

#stadium-page-container {
    width: 700px;
    margin: 0 auto 50px;
    text-align: left;
    color: white;
    border-radius: 8px;
}

#stadium-name {
    padding: 10px 0;
    border-bottom: 1px solid white;
    font-size: 28px;
}

#stadium-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

#stadium-info {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
    border-top: 1px solid white;
}

#stadium-info img {
    height: 25px;
    width: auto;
    object-fit: cover;
    margin: 0;
}

#stadium-info h3, #stadium-info h4 {
    font-weight: normal;
    margin: 0;
}

#stadium-info h3 {
    font-size: 25px;
}

#stadium-info h4 {
    font-size: 20px;
}

.stadium-fact {
    margin: 20px 0;
}

.stadium-fact div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.stadium-fact div h4, .stadium-fact div img {
    margin-right: 5px !important;
}

.stadium-info-button {
    background-color: rgb(36, 99, 235);
    color: white;
    padding: 15px 10px;
    text-align: center;
    border-radius: 8px;
    margin-top: 25px !important;
}

.stadium-info-button:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

#friend-activity {
    margin: 20px auto;
    width: 100%;
    padding: 0 20px;
    border-top: 1px solid white;
}

#friend-activity h3 {
    font-weight: normal;
    font-size: 20px;
}

#friend-activity-list {
    display: flex;
}

.friend-activity-item {
    display: flex;
    width: 50px;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 20px;
}

.friend-activity-item img {
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
}

.friend-activity-item p {
    margin: 10px;
}

#friend-reviews, #popular-reviews, #upcoming-events {
    margin: 20px auto;
    width: 100%;
    padding: 0 20px;
    border-top: 1px solid white;
}

#friend-reviews h3, #popular-reviews h3, #upcoming-events h3 {
    font-weight: normal;
    font-size: 20px;
}

.friend-review-item, .popular-review-item, .upcoming-event-item {
    display: flex;
    margin-bottom: 20px;
}

.friend-review-item img, .popular-review-item img {
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
}

.friend-review-item div h4, .popular-review-item div h4, .upcoming-event-item div h4 {
    margin: 5px 20px;
}

.friend-review-item div p, .popular-review-item div p {
    margin: 10px 20px;
}

.upcoming-event-item img {
    height: 50px;
    object-fit: cover;
}

.upcoming-event-item div h4 {
    font-weight: normal;
    font-size: 18px;
}

#user-recent-reviews h3, #user-popular-reviews h3 {
    border-bottom: 0.5px solid #f0f0f0;
    text-align: left;
    padding-bottom: 10px;
}

@media screen and (max-width: 1050px) {
    #user-items {
        width: 850px;
        justify-content: center;
    }

    .user-item {
        margin: 15px 25px;
    }
    #favorite-stadiums {
        order: 1;
        height: 320px;
    }
    #user-stats {
        order: 3;
    }
    #recently-visited-stadiums {
        order: 2;
    }
    #wishlist {
        order: 4;
    }
    #user-recent-reviews {
        order: 5;
    }
    #user-popular-reviews {
        order: 6;
    }
    .nav-item {
        margin: 0 10px;
    }
}